*{
<<<<<<< HEAD
  margin: 0px;
  padding: 0px;
  font-family: 'Muli', sans-serif;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  text-align: center;
  width: 100%;
}
h2{
  text-align: left;
  width: 100%;
}
h3{
  text-align: left;
  width: 100%;
}
h4{
  text-align: left;
  width: 100%;
}
a{
  text-decoration: underline;
}
ul{
  text-align: left;
  width: 100%;
}
#imagen1{
  width: 100%;
}
.rojo{
  color: red;
  font-weight: bold
}
.verde{
  color: green;
  font-weight: bold

=======
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}
.header{
  position: fixed;
  z-index: 100;
  right: 0;
  width: 30%;
  border: 1px solid #DDD7E7;
  height: 100vh;
  margin-left: 35%;
}
.header nav{
  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-start;
}
.header ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.header li {
  width: 100%;
  padding: 15px 0 10px 15px;
  list-style: none;
  color: grey;
}
.header li:hover {
  background-color: #a533ff;
  color: white;
}
.header a {
  text-decoration: none;
}
.contend{
  width: 68%;
>>>>>>> 09d658386832e71ede1069ae6b6baf685588d539
}
.azul{
  color: blue;
  font-weight: bold

<<<<<<< HEAD
}
.morado{
  color: #A533FF;
  font-weight: bold
}
.amarillo{
  color: #E7DA0B;
  font-weight: bold
}
.naranja{
  color: orange;
  font-weight: bold
}
.violeta{
  color: violet;
  font-weight: bold
=======
.container__img{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #DDD7E7;
}
.container__img img{
  width: 150px;
  height: 150px;
}
.footer{
  border-top: 1px solid #DDD7E7;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
}
.footer p{
  width: 100%;
  padding: 20px 0 0 10px;
>>>>>>> 09d658386832e71ede1069ae6b6baf685588d539
}
.cian{
  color: cyan;
  font-style: italic;
}