*{
  margin: 0px;
  padding: 0px;
  font-family: 'Muli', sans-serif;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  text-align: center;
  width: 100%;
}
h2{
  text-align: left;
  width: 100%;
}
h3{
  text-align: left;
  width: 100%;
}
h4{
  text-align: left;
  width: 100%;
}
a{
  text-decoration: underline;
}
ul{
  text-align: left;
  width: 100%;
}
#imagen1{
  width: 100%;
}
.rojo{
  color: red;
  font-weight: bold
}
.verde{
  color: green;
  font-weight: bold

}
.azul{
  color: blue;
  font-weight: bold

}
.morado{
  color: #A533FF;
  font-weight: bold
}
.amarillo{
  color: #E7DA0B;
  font-weight: bold
}
.naranja{
  color: orange;
  font-weight: bold
}
.violeta{
  color: violet;
  font-weight: bold
}
.cian{
  color: cyan;
  font-style: italic;
}